<!doctype html>
<html>
	<head>
	</head>
	<body style="
		font: 12px Tahoma, sans-serif;
		background-color: #e5e5e5;
		display: flex;
		height: auto;
		align-items: center;
		position: relative;
		flex-direction: column;">
		<table align="center" cellspacing=0>
			<tr>
				<td align="center" style="background-color: #ffffff;">
					<div style="
					padding-top: 50px;
					padding-bottom: 50px;">
						<img height="128" src="https://sun9-69.userapi.com/c857424/v857424652/1bd30e/MsjbeR7HUEU.jpg">
					</div>
				</td>
			</tr>
			<tr>
				<td style="background-color: #ffffff;">
					<div style="padding: 50px;
					background-color: #0b6481;
					color: transparent">
						<h1 style="font-family: Roboto, sans-serif;
						color: #ffffff;
						font-size: 45px;
						line-height: 45px;
						text-align: center">
							How to Create a Group Coaching Service
						</h1>
						<h3 style="margin-top: 25px;
						font-family: Roboto, sans-serif;
						color: #ffffff;
						font-weight: 400;
						text-align: center">
							This is an automated email providing you step by step instructions on how to launch a group coaching program.
						</h3>
					</div>
				</td>
			</tr>
			<tr>
				<td style="background-color: #ffffff;">
					<div style="padding: 50px;">
						<h3 style="font-family: Roboto, sans-serif;
						text-align: justify;
						color: #5c5c5c;
						font-size: 16px;
						font-weight:300;
						line-height: 26px;">
							{cohealerFirstName}, ready to launch your group coaching program on Cohere?<br><br>
							We are pleased to offer all of our coaches a complimentary 45-minute call with a Cohere branding and messaging specialist that will support you in each step of creating your first contribution! If you’re interested in booking your session, please select a time that works for you here: <a href="https://calendly.com/anettecohere/45min">https://calendly.com/anettecohere/45min</a><br><br>
							If you wish to do it on your own, this email will show you how easy it is to create and launch your first Group Coaching Service, and it will take you 60 minutes or less. Let’s get started!<br><br>
							<i><b>To begin, Click Create a Contribution on your Dashboard.</b></i><br><br>
							<strong>Step 1. Basic Information:</strong> Select “Group Course” from the contribution type and fill out the title and select your categories. We recommend adding one to three categories for your contribution. Add a photo of yourself or a photo of something inspiring that correlates to the course. You may want to create a custom photo with your title using a free service like <a href="www.canva.com">www.canva.com</a>.<br><br>
							<strong>Step 2. Contribution Details:</strong> Complete the remaining steps on the contribution creation steps, including the overall purpose of your contribution, what to expect and how to prepare. If you get stuck here and you need any support, feel free to book a complimentary call here with a Cohere branding and messaging specialist: <a href="https://calendly.com/anettecohere/45min">https://calendly.com/anettecohere/45min</a><br><br>
							<strong>Step 3. Sessions:</strong> You will be creating a schedule of for both enrollment (the time period that allows clients to register and pay for your program) and course sessions during the times that will be available for your clients to book after they pay. You can create more than a one-time option per session, in case you have a group course that runs on different group times. We recommend filling out all of the sessions and availability times right away, as your clients will be able to see the sessions and book their preferred time when they purchase your contribution. Keep in mind, you can always come back and edit these details at any time, even after you launch your service.<br><br>
							<strong>Step 4. Payment:</strong> Set the total price of your live group course. You can also create “Split Payment” options for daily, weekly or monthly payments.<br><br>
							<strong>Step 5 Review and Submit:</strong> This is where you can read our terms and conditions and submit your contribution. Once your contribution is approved (usually within 24 hours), you will be able to share it with clients so you can start earning revenue.<br><br>
							To share your service with your existing or prospective clients, go to “My Contributions” on the side bar, click your Group Courses, select your service, and then click the “Share” button on the right side of the screen. Here you can email your contribution or copy a link to be shared on your app of choice (email, Facebook, SMS, etc.).<br><br>
							If you have any questions, please do not hesitate to reach out to <a href="mailto:support@cohere.live">support@cohere.live</a>.<br><br>
						</h3>
						<h3 style="font-family: Roboto, sans-serif;
						text-align: justify;
						color: #5c5c5c;
						font-size: 16px;
						font-weight:300;
						line-height: 26px;">
							Best regards,<br>
							The Cohere Team
						</h3>
					</div>
				</td>
			</tr>
			<tr>
				<td align="center" style="background-color: #ffffff;">
					<div style=" padding-top: 50px;
					padding-bottom: 50px;">
						<a href="{loginLink}"
						   style="padding: 12px 70px;
                           background-color: #d1b989;
                           font-family: Roboto, sans-serif;
                           font-weight: 800;
                           color: #ffffff;
                           letter-spacing: 3px;">Login</a>
					</div>
				</td>
			</tr>
		</table>
	</body>
</html>