<!doctype html>
<html>
<head>
</head>
<body style="
		font: 12px Tahoma, sans-serif;
		background-color: #e5e5e5;
		display: flex;
		height: auto;
		align-items: center;
		position: relative;
		flex-direction: column;">
	<table align="center" cellspacing=0>
		<tr>
			<td align="center" style="background-color: #ffffff;">
				<div style="
					padding-top: 50px;
					padding-bottom: 50px;">
					<img height="128" src="https://sun9-69.userapi.com/c857424/v857424652/1bd30e/MsjbeR7HUEU.jpg">
				</div>
			</td>
		</tr>
		<tr>
			<td style="background-color: #ffffff;">
				<div style="padding: 50px;
					background-color: #0b6481;
					color: transparent">
					<h1 style="font-family: Roboto, sans-serif;
						color: #ffffff;
						font-size: 45px;
						line-height: 45px;
						text-align: center">
						How to Create a 1:1 Coaching Service
					</h1>
					<h3 style="margin-top: 25px;
						font-family: Roboto, sans-serif;
						color: #ffffff;
						font-weight: 400;
						text-align: center">
						This is an automated email providing you step by step instructions on how to launch a 1:1 coaching service.
					</h3>
				</div>
			</td>
		</tr>
		<tr>
			<td style="background-color: #ffffff;">
				<div style="padding: 50px;">
					<h3 style="font-family: Roboto, sans-serif;
						text-align: justify;
						color: #5c5c5c;
						font-size: 16px;
						font-weight:300;
						line-height: 26px;">
						{cohealerFirstName}, would you like to create and launch your 1:1 coaching services on Cohere? It's simple to get started!<br><br>
						Please note, we offer a 45-minute complimentary call with our branding and messaging specialists to help you in getting setup every step of the way! If you wish to book your complimentary call, click here to confirm: <a href="https://calendly.com/anettecohere/45min">https://calendly.com/anettecohere/45min</a><br><br>
						<i><b>To begin, Click Create a Contribution on your Dashboard.</b></i><br><br>
						<strong>Step 1. Basic Information:</strong> Select the ‘1:1 Coaching’ option as the contribution type, fill out the title and select your coaching categories. Add a photo of yourself or a photo of something inspiring that your clients will be able to see. You may want to create a custom photo with your title using a free service like <a href="www.canva.com">www.canva.com</a>.<br><br>
						<strong>Step 2. Contribution Details:</strong> Complete the remaining steps in the contribution creation process, including the overall purpose of your contribution, what to expect and how to prepare. If you get stuck here and you need any support, feel free to book a complimentary branding and messaging call here: <a href="https://calendly.com/anettecohere/45min">https://calendly.com/anettecohere/45min</a><br><br>
						<strong>Step 3. Sessions:</strong> You will be creating a schedule of available session times that are open for your clients to book. Please add your availability and the times that will work best for your schedule. Keep in mind you can always come back and edit, add or delete any availability at any time, even after you launch your service.<br><br>
						<strong>Step 4. Payment:</strong> Set the price of your 1:1 coaching service by providing your per session price. You can also create session packages and discounts per package to encourage clients to book more than one session.<br><br>
						<strong>Step 5 Review and Submit:</strong> This is where you can read our Terms and Conditions and submit your contribution. Once your contribution is approved (within 24 hours), you will be able to share it with clients so you can start earning revenue.<br><br>
						Once approved, you can share your contribution by going to “1:1 Contributions” on the side bar of your dashboard, click your 1:1 service, and then click the "Share" button on the right side of the screen. Here you can email your contribution or copy a link to be shared on your app of choice (email, Facebook, SMS, etc.).<br><br>
						Soon you will be on your way to making a contribution in many people’s lives with this easy process of creating, managing and scaling your 1:1 coaching business. If you have any questions, please do not hesitate to reach out to <a href="mailto:support@cohere.live">support@cohere.live</a>.<br><br>
					</h3>
					<h3 style="font-family: Roboto, sans-serif;
						text-align: justify;
						color: #5c5c5c;
						font-size: 16px;
						font-weight:300;
						line-height: 26px;">
						Best regards,<br>
						The Cohere Team
					</h3>
				</div>
			</td>
		</tr>
		<tr>
			<td align="center" style="background-color: #ffffff;">
				<div style=" padding-top: 50px;
					padding-bottom: 50px;">
					<a href="{loginLink}"
					   style="padding: 12px 70px;
                           background-color: #d1b989;
                           font-family: Roboto, sans-serif;
                           font-weight: 800;
                           color: #ffffff;
                           letter-spacing: 3px;">Login</a>
				</div>
			</td>
		</tr>
	</table>
</body>
</html>