<!doctype html>
<html>
	<head>
	</head>
	<body style="
		font: 12px Tahoma, sans-serif;
		background-color: #e5e5e5;
		display: flex;
		height: auto;
		align-items: center;
		position: relative;
		flex-direction: column;">
		<table align="center" cellspacing=0>
			<tr>
				<td align="center" style="background-color: #ffffff;">
					<div style="
					padding-top: 50px;
					padding-bottom: 50px;">
						<img height="128" src="https://sun9-69.userapi.com/c857424/v857424652/1bd30e/MsjbeR7HUEU.jpg">
					</div>
				</td>
			</tr>
			<tr>
				<td style="background-color: #ffffff;">
					<div style="padding: 50px;
					background-color: #0b6481;
					color: transparent">
						<h1 style="font-family: Roboto, sans-serif;
						color: #ffffff;
						font-size: 45px;
						line-height: 45px;
						text-align: center">
							How to Invite Your Clients to Purchase Your Services
						</h1>
						<h3 style="margin-top: 25px;
						font-family: Roboto, sans-serif;
						color: #ffffff;
						font-weight: 400;
						text-align: center">
							This is an automated email sent to support you getting clients registered for your services.
						</h3>
					</div>
				</td>
			</tr>
			<tr>
				<td style="background-color: #ffffff;">
					<div style="padding: 50px;">
						<h3 style="font-family: Roboto, sans-serif;
						text-align: justify;
						color: #5c5c5c;
						font-size: 16px;
						font-weight:300;
						line-height: 26px;">
							{cohealerFirstName},<br><br>
							Once you've created your 1:1 Coaching Services and/or Live Group Coaching services on Cohere and they’ve been approved by our quality team, you are ready to share your services with your prospective or existing clients so they can purchase and book sessions with you!<br><br>
							To share your Contribution, head over to the "Contributions" tab on the left side bar of your main dashboard, under "My Contributions" click the type of service you created, then select your service, and then click the "Share with Client" button on the top right side of the screen. Once copied to clipboard, you can email your contribution or share the link to your clients on your app of choice (email, Facebook, SMS, etc.). Alternatively, you can type the email(s) of the clients you wish to share your service with and click "Send invitations".<br><br>
							It's that easy to share your contributions and start making a bigger impact!<br><br>
							If you have any questions, please do not hesitate to reach out to support@cohere.live.
						</h3>
						<h3 style="font-family: Roboto, sans-serif;
						text-align: justify;
						color: #5c5c5c;
						font-size: 16px;
						font-weight:300;
						line-height: 26px;">
							Best regards,<br>
							The Cohere Team
						</h3>
					</div>
				</td>
			</tr>
			<tr>
				<td align="center" style="background-color: #ffffff;">
					<div style=" padding-top: 50px;
					padding-bottom: 50px;">
						<a href="{loginLink}"
						   style="padding: 12px 70px;
                           background-color: #d1b989;
                           font-family: Roboto, sans-serif;
                           font-weight: 800;
                           color: #ffffff;
                           letter-spacing: 3px;">Login</a>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<p style="font-family: Roboto, sans-serif; color: #5c5c5c; font-size: 12px; line-height: 24px; text-align: center;">
						<a style="font: inherit; color: inherit; text-decoration: none;" href="{unsubscribeEmailLink}">Unsubscribe</a>
						|
						<a style="font: inherit; color: inherit; text-decoration: none;" href="mailto:support@cohere.live">Contact Support</a>
					</p>
				</td>
			</tr>
		</table>
	</body>
</html>