<!doctype html>
<html>
	<head>
	</head>
	<body style="
		font: 12px Tahoma, sans-serif;
		background-color: #e5e5e5;
		display: flex;
		height: auto;
		align-items: center;
		position: relative;
		flex-direction: column;">
		<table align="center" cellspacing=0>
			<tr>
				<td align="center" style="background-color: #ffffff;">
					<div style="
					padding-top: 50px;
					padding-bottom: 50px;">
						<img height="128" src="https://sun9-69.userapi.com/c857424/v857424652/1bd30e/MsjbeR7HUEU.jpg">
					</div>
				</td>
			</tr>
			<tr>
				<td style="background-color: #ffffff;">
					<div style="padding: 50px;
					background-color: #0b6481;
					color: transparent">
						<h1 style="font-family: Roboto, sans-serif;
						color: #ffffff;
						font-size: 45px;
						line-height: 45px;
						text-align: center">
							Get 30 days free of Cohere from {initiatorFirstName}.<br>
						</h1>
						<h3 style="margin-top: 25px;
						font-family: Roboto, sans-serif;
						color: #ffffff;
						font-weight: 400;
						text-align: center">
							Please click the link below to sign-up.
						</h3>
					</div>
				</td>
			</tr>
			<tr>
				<td style="background-color: #ffffff;">
					<div style="padding: 50px;">
						<h3 style="font-family: Roboto, sans-serif;
						text-align: justify;
						color: #5c5c5c;
						font-size: 16px;
						font-weight:300;
						line-height: 26px;">
							Great news! {initiatorFirstName} thinks you're a perfect fit for the Cohere platform and would like to gift you 30 days free. You can sign up <a href="{affiliateLink}">here</a>.<br><br>
							For those on the journey as a coach or virtual service provider, oftentimes the daily tasks of managing a business (such as receiving payments, booking sessions, managing client communication, having a trusted video platform, managing revenue and taxes) can pull you away from generating the impact and having the ease you know is possible for you and your business.<br><br>
							If this resonates or you're in the process of setting up your virtual business, meet Cohere.<br><br>
							Cohere provides you an all-in-one virtual coaching platform that makes running your virtual business seamless and simple so you can spend more time changing lives and doing the work you love - and less time on the "busy work."<br><br>
							If you're ready to make your business easier and scale it to its fullest potential, click <a href="{affiliateLink}">here</a> and you will be provided a free account, fully unlocked with all the features you need.<br><br>
						</h3>
						<h3 style="font-family: Roboto, sans-serif;
						text-align: justify;
						color: #5c5c5c;
						font-size: 16px;
						font-weight:300;
						line-height: 26px;">
							With gratitude,<br>
                            The Cohere Team
						</h3>
					</div>
				</td>
			</tr>
			<tr>
				<td align="center" style="background-color: #ffffff;"> 
					<div style=" padding-top: 50px;
					padding-bottom: 50px;">
                        <a href="{affiliateLink}"
                           style="padding: 12px 70px;
                           background-color: #d1b989;
                           font-family: Roboto, sans-serif;
                           font-weight: 800;
                           color: #ffffff;
                           letter-spacing: 3px;">Create Account</a>
                    </div>
				</td>
			</tr>
			<tr>
				<td>
					<p style="font-family: Roboto, sans-serif; color: #5c5c5c; font-size: 12px; line-height: 24px; text-align: center;">
                        <a style="font: inherit; color: inherit; text-decoration: none;" href="{unsubscribeEmailLink}">Unsubscribe</a>
                        |
                        <a style="font: inherit; color: inherit; text-decoration: none;" href="mailto:support@cohere.live">Contact Support</a>
                    </p>
                </td>
			</tr>
		</table>
	</body>
</html>