<!doctype html>
<html>
<head>
</head>
<body style="
		font: 12px Tahoma, sans-serif;
		background-color: #e5e5e5;
		display: flex;
		height: auto;
		align-items: center;
		position: relative;
		flex-direction: column;">
    <table align="center" cellspacing=0>
        <tr>
            <td align="center" style="background-color: #ffffff;">
                <div style="
					padding-top: 50px;
					padding-bottom: 50px;">
                    <img height="128" src="https://sun9-69.userapi.com/c857424/v857424652/1bd30e/MsjbeR7HUEU.jpg">
                </div>
            </td>
        </tr>
        <tr>
            <td style="background-color: #ffffff;">
                <div style="padding: 50px;
					background-color: #0b6481;
					color: transparent">
                    <h1 style="font-family: Roboto, sans-serif;
						color: #ffffff;
						font-size: 45px;
						line-height: 45px;
						text-align: center">
                        Finish Getting Setup<br>
                    </h1>
                    <h3 style="margin-top: 25px;
						font-family: Roboto, sans-serif;
						color: #ffffff;
						font-weight: 400;
						text-align: center">
                        This is an automated email sent to all new service providers on Cohere.
                    </h3>
                </div>
            </td>
        </tr>
        <tr>
            <td style="background-color: #ffffff;">
                <div style="padding: 50px;">
                    <h3 style="font-family: Roboto, sans-serif;
						text-align: justify;
						color: #5c5c5c;
						font-size: 16px;
						font-weight:300;
						line-height: 26px;">
                        Hi, {CoachFirstName} Welcome to Cohere!
                        We're happy to have you on board. We want to make sure
                        you're all set up and ready to create offers so that you can
                        start earning revenue on Cohere.<br><br>

                        In order to do so, you will need to finish getting set up with the following:<br><br>
                        <strong>Step 1:</strong> Please verify your email. To complete this step, head over to your email inbox and click "Verify" on the Cohere email sent over to you.<br><br>
                        <strong>Step 2:</strong> Please see the banner "Verify your information to create a Contribution and collect revenue." Cohere has an identity verification step that enables you to accept credit card payments from clients. On your dashboard, click "Verify" on the right-hand side of the banner. From here, you will be guided to enter information. (All information is confidential and securely protected by Stripe and is not stored on Cohere).<br><br>
                        Please enable pop-ups on your browser if nothing happens when clicking "Verify". Please note, your offers (i.e. Contributions) will not be approved until this step is completed.<br><br>
                        Also, we highly recommend you click "Update" on the second screen in the process. It will ask you to provide your DOB and the last 4 of your Social Security number. This step enables you to accept payments totaling $1,500 USD or greater.<br><br>
                        <strong>Step 3:</strong> Finish setting up your profile by clicking your name at the top right-hand side of the dashboard and clicking on "Account" This is where you can add your short bio and profile pic, which will be viewable by your clients.<br><br>
                        Finally, you have the option to add your bank account information now, or you can wait until after your first revenues.<br><br>
                        Once you've completed Steps 1 through 3, you're all set to create your first offer and begin generating revenue!<br><br>
                        If you have any questions, please do not hesitate to reach out to <a href="mailto:support@cohere.live">support@cohere.live</a>.

                    </h3>
                    <h3 style="font-family: Roboto, sans-serif;
						text-align: justify;
						color: #5c5c5c;
						font-size: 16px;
						font-weight:300;
						line-height: 26px;">
                        Best regards,<br>
                        The Cohere Team
                    </h3>
                </div>
            </td>
        </tr>
        <tr>
            <td align="center" style="background-color: #ffffff;">
                <div style=" padding-top: 50px;
					padding-bottom: 50px;">
                    <a href="{loginLink}"
                       style="padding: 12px 70px;
						background-color: #d1b989;
						font-family: Roboto, sans-serif;
						font-weight: 800;
						color: #ffffff;
						letter-spacing: 3px;
                        text-decoration: none;">Login</a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <p style="font-family: Roboto, sans-serif; color: #5c5c5c; font-size: 12px; line-height: 24px; text-align: center;">
                    <a style="font: inherit; color: inherit; text-decoration: none;" href="{unsubscribeEmailLink}">Unsubscribe</a>
                    |
                    <a style="font: inherit; color: inherit; text-decoration: none;" href="mailto:support@cohere.live">Contact Support</a>
                </p>
            </td>
        </tr>
    </table>
</body>
</html>